* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.block{
  position: relative;
  margin: 60% auto 0;
  width: 250px;
  height: 200px;
  background: linear-gradient(0deg, black, #333);
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.shadow::before, .shadow::after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg , yellow , #f1b900 , #e4a400 , #00f101 , #00f19e , #f10098 , #f100da , #ab00f1 , aqua , #00b0f1 , blue);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

@keyframes animate{
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0 0;
  }
}

.shadow::after{
  filter: blur(40px);
}